@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, rgb(18, 18, 18), rgba(18, 18, 18, 0) 100%),
    url(../images/donation4.jpg);
  height: 666px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.header-content > h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 59px;
}

.header-content>p{
    color: rgb(255, 255, 255);
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;
}

.btn{
    border-radius: 5px;
    padding: 15px 14px 15px 14px;
    background: rgb(255, 89, 89);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: rgba(32, 32, 32, 0.014);
    color: white;
    border: 1px solid rgb(255, 89, 89);
}

.donate-header{
    text-align: center;
    margin-top: 40px;
}
.donate-header>h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
}

.donate-header>p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0;
}

.donate-amount{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.amount{
    border-radius: 5px;
    padding: 50px 90px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(255, 238, 238);
}

.amount:hover{
    background-color: rgb(255, 238, 238);
}

#amount-2{
    border-radius: 5px;
    background: rgb(255, 238, 238);
}

#amount-2:hover{
    background-color: white;
    border: 1px solid rgb(255, 238, 238);
}

.donate-input{
    display: flex;
    flex-direction: column;
}

.donate-input>input{
    border: none;
    border-bottom: 1px solid gray;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}

#btn{
    color: black;
    text-align: center;
    margin: 0 auto;
}

.donate-plan{
    margin-top: 90px;
}

.donate-plan>h1{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
}

.donate-plan>p{
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.donate-plan-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.plan-card-item{
    width: 25%;
    height: 13em;
    border-radius: 5px;
    padding: 15px;
    background: rgba(79, 157, 166, 0.1);
}
.plan-card-item>h1{
    margin: 10px 0;
}

#card-2{
    background: rgba(255, 89, 89, 0.1);
}

#card-3{
    background: rgb(255, 244, 214);
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.card-item>h1{
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
}
.card-item>p{
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin: 10px 0;
}

.card-image>img{
    height: 350px;
    border-radius: 5px;
}

#hungry-card{
    flex-direction: row-reverse;
}

.subs{
    text-align: center;

}
.subs>h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
}
.subs>p{
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0;
}


.input{
    text-align: center;
    background: rgb(255, 244, 214);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input>input{
    border-radius: 5px 0px 0px 5px;
    padding: 13px 23px;
    border: none;
    background: rgb(217, 217, 217);
}

.subs-btn{
    border-radius: 0px 5px 5px 0px;
    padding: 13px 23px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: rgb(255, 89, 89);
}

.subs-btn:hover{
    background-color: rgb(255, 244, 214);
    border: 1px solid rgb(255, 89, 89);
    color: black;
}








/* responsive for mobile device */

@media screen and (max-width: 576px) {
    .header{
        flex-direction: column;
    }
    .header-content{
        font-size: larger;
    }

    .container{
        width: 100%;
    }
    .donate-amount{
        flex-direction: column;
        gap: 20px;
    }

    #btn{
        width: 50%;
    }

    .donate-plan-card{
        flex-direction: column;
        gap: 20px;
    }
    .plan-card-item{
        width: 80%;
    }

    .card{
        flex-direction: column-reverse;
    }

    .card-item{
        width: 70%;
    }

    .card-image{
        width: 90%;
    }

    .card-image>img{
        height: 200px;
    }
    #hungry-card{
        flex-direction: column-reverse;
    }

    .subs{
        width: 80%;
        margin: 0 auto;
    }

    .input{
        width: 80%;
        margin: 0 auto;
    }

    .subs-btn, .input>input{
        width: calc(100% - 23px);
    }
}